%h2 Details for #{@contestant.first_name} "#{@contestant.nickname}" #{@contestant.last_name}

%p{id:"notice"}= notice

%img{class:"profile-image-large", src: @contestant.avatar.url}

%p
  %strong Description:
  = @contestant.description

%p
  %strong Date added:
  %span{class:"date-added"}=@contestant.date_added.strftime('%a %d %b, %Y')

%div= link_to 'Edit', edit_contestant_path(@contestant)
%div= link_to 'Back', contestants_path
