%h2 #{@contestant.first_name} "#{@contestant.nickname}" #{@contestant.last_name}

%p{id:"notice"}
  = image_tag @contestant.avatar.url, :class => "profile-image-large"

%p
  %strong Description:
  = @contestant.description

%p
  %strong Date added:
  %span{class:"date-added"}=@contestant.date_added.strftime('%a %d %b, %Y')

%div= link_to 'Edit', edit_contestant_path(@contestant)
%div= link_to 'Back', contestants_path
