<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contestant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contestant.last_name %>
</p>

<p>
  <b>Nickname:</b>
  <%= @contestant.nickname %>
</p>

<p>
  <b>Description:</b>
  <%= @contestant.description %>
</p>

<p>
  <b>Date added:</b>
  <%= @contestant.date_added %>
</p>

<p>
  <b>Id:</b>
  <%= @contestant.id %>
</p>


<%= link_to 'Edit', edit_contestant_path(@contestant) %> |
<%= link_to 'Back', contestants_path %>
