%h2 Details for #{@contestant.first_name} "#{@contestant.nickname}" #{@contestant.last_name}

%p{id:"notice"}= notice



%p
  %strong Description:
  = @contestant.description

%p
  %strong Date added:
  %div{class:"date-added"}=@contestant.date_added.strftime('%a %d %b, %Y')

%div= link_to 'Edit', edit_contestant_path(@contestant)
%div= link_to 'Back', contestants_path
